
header{
    color: rgb(18, 18, 18);
    color: gainsboro;
    text-align: center;
    padding: 1px 0;
    background-color: var(--primary-color);
    box-shadow: 0 4px 6px black;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-bottom: 20px;
}
h1{
    margin: 5px 0;
    background-color: rgba(0, 0, 0, 0.2);
}
img {
    position: absolute;
    left: 0px;
    top: -10px;
    height: 75px;
}
